* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

body > div {
	display: flex;
	gap: 20px;
}

body > div > * {
	padding: 5px;
	font-size: 20px;
}
